<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualGGPK2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualGGPK2.Properties.Settings>
            <setting name="GGPKPath" serializeAs="String">
                <value />
            </setting>
            <setting name="officialPath" serializeAs="String">
                <value />
            </setting>
            <setting name="steamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="garenaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="tencentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="epicPath" serializeAs="String">
                <value />
            </setting>
        </VisualGGPK2.Properties.Settings>
    </userSettings>
</configuration>